GOOGLE_API_KEY = your_google_api_key_here

#build_db.py settings
QDRANT_URL = "http://localhost:6333"
COLLECTION_NAME = "grid_vision_manuals"
EMBEDDING_MODEL = "BAAI/bge-m3"
VECTOR_SIZE = 1024
BATCH_SIZE = 16
MAX_DOC_SIZE = 10_000_000

#pdf_parser.py settings
MIN_IMG_SIZE_KB = 15
MIN_IMG_DIM = 200

#image_describer.py settings
GEMINI_DELAY = 5.0