__pycache__/
*.py[cod]
.venv/
venv/
*.env

data/raw_pdfs/*
data/processed/*
data/cache/*
!data/raw_pdfs/.gitkeep 
!data/processed/.gitkeep

.vscode/
.idea/node_modules/
**/node_modules/
**/.next/
**/out/